tools/DTD/project_video_tracking.dtd

<!ELEMENT project (Definitions,Datas)>

<!ELEMENT Definitions (videos,points)>

<!ELEMENT videos (video*)>
<!ELEMENT points (point*)>

<!ELEMENT Datas (data*)>

<!ELEMENT video (video_name,video_file,width,height,fps,duration)>

<!ELEMENT video_name (#PCDATA)>
<!ELEMENT video_file (#PCDATA)>
<!ELEMENT width (#PCDATA)>
<!ELEMENT height (#PCDATA)>
<!ELEMENT fps (#PCDATA)>
<!ELEMENT duration (#PCDATA)>